/* START HEADER AND FOOTER*/
#header{
    background-color: black;
    text-align: center;
    margin-bottom: 0.5%;
}
#navbar{
    width: 53%;
    margin: 0 auto 0 auto;
}
#searchhd{
   width: 53%;
}
.seformhd{
    color: white;
    margin-left: 3%;
}
.seconnecterhd:hover{
    color: coral;
}
.s_incrirhd:hover{
    color: coral;
}
.daunganhd{
    color: #FFf;
}
/*FOOTER*/
#footer{
    background-color: black;
    margin-top: 0.5%;
}
#contentft{
    padding: 1%;
    margin: 0 auto;
    width: 60%;
}
.logofooter{
    width: 50px; 
    height: 50px;
}
.smaltextulft{
    color: #FFF;
    
}
.smaltextft{
    font-size: small;
    color: #FFF;
}
.litextft:hover{
    color: coral;
}
/*END HEADER AND FOOTER*/
/*BODY*/
#body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    height: 2000px;
    width: 60%;

}
.row .col{
    width: 140px;
    text-align: center;
}
.album img{
    margin-top: 30px;
    width: 152px;
    height: 180px;
}
.nomDeAlbum{
    text-align: center;
    color: black;
}
.chanteur{
    text-align: center;
    color: #ff577F;
}
#VNMusique{
    margin-top: 1%;
}
#row1 {
    padding-top: 1%;
    font-stretch: ultra-expanded;
    font-weight: bold;
    margin: 0 auto;
}
#row1 ul li{
    font-weight: bold;
    font-size: 26px;
    list-style: none;
    float: left;
    margin: 0 2em;
    padding-left: 8px;
}
#main{
    color: #ff577F;
}
.album a{
    text-decoration: none;
    color: #ff577F;
}
.row{
    margin-top: 1%;
}
.album a:hover{
    text-decoration: none;
}
.album a:hover .nomDeAlbum{
    font-weight: bold;
}
.album a:hover .chanteur{
    font-weight: bold;
}
.row .col ul li a:hover{
    text-decoration: none;
    color: #ff577F;
}