
/* Frame 1 */
#n1_2 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(0, 0, 0);
}
 
	/* Rectangle */
	#n61_30 {
		background: rgb(55, 55, 55);
		left: 0.0520833%;
		right: 88.1771%;
		top: 6.76%;
		bottom: 7.22%;
	}
 
	/* Line 4 */
	#n50_46 {
		left: 283px;
		width: 1095px;
		top: 174px;
		height: 9.57279e-05px;
	}
 
	/* Khoa Do Musique */
	#n2_2 {
		font-family: Roboto;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(255, 97, 173);
		vertical-align: middle;
		justify-content: flex-start;
		width: 210px;
		align-items: center;
		line-height: 23.4375px;
		height: 44px;
		left: 38px;
		top: 184px;
	}
 
	/* Line 2 */
	#n5_171 {
		left: 226px;
		width: 4.06516e-05px;
		top: 80px;
		height: 930.001px;
	}
 
	/* App Bar / Top App Bar / Regular / Flat */
	#n7_0 {
		overflow: visible;
		left: 0.729167%;
		right: 90.0521%;
		top: 23.89%;
		bottom: 70.93%;
	}
 
		/* Title */
		#n7_16 {
			font-family: Roboto;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.15px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 0px);
			line-height: 23.4375px;
			height: 23px;
			left: 32px;
			right: 73px;
			top: calc(50% - 11.5px + -0.5px);
		}
 
		/* Discover */
		#n10_535 {
			left: 140px;
			width: 15.0962px;
			top: 20px;
			height: 15.0902px;
		}
 
	/* App Bar / Elements / Right Icons */
	#n9_0 {
		height: 56px;
		overflow: visible;
		left: 0.729167%;
		right: 90.0521%;
		top: 370px;
	}
 
		/* Title */
		#n9_1 {
			font-family: Roboto;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.15px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 0px);
			line-height: 23.4375px;
			height: 23px;
			left: 32px;
			right: 73px;
			top: calc(50% - 11.5px + -0.5px);
		}
 
		/* Albums */
		#n10_541 {
			left: 140px;
			width: 12.0619px;
			top: 20px;
			height: 16px;
		}
 
	/* App Bar / Elements / Right Icons */
	#n12_157 {
		height: 56px;
		overflow: visible;
		left: 0.729167%;
		right: 90.0521%;
		top: 426px;
	}
 
		/* Title */
		#n12_158 {
			font-family: Roboto;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.15px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 0px);
			line-height: 23.4375px;
			height: 23px;
			left: 32px;
			right: 73px;
			top: calc(50% - 11.5px + -0.5px);
		}
 
		/* Favourite */
		#n12_163 {
			left: 139px;
			width: 15px;
			top: 22px;
			height: 13px;
		}
 
	/* App Bar / Top App Bar / Regular / Raised / Background Color */
	#n8_3 {
		overflow: visible;
		left: 0.729167%;
		right: 90.0521%;
		top: 29.07%;
		bottom: 65.74%;
	}
 
		/* Title */
		#n8_22 {
			font-family: Roboto;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.15px;
			color: rgb(255, 97, 173);
			opacity: 0.87;
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 0px);
			line-height: 23.4375px;
			height: 25px;
			left: 30px;
			right: 43px;
			top: calc(50% - 12.5px + 0.5px);
		}
 
		/* Songs */
		#n10_540 {
			left: 141px;
			width: 11px;
			top: 21px;
			height: 15px;
		}
 
	/* App Bar / Top App Bar / Regular / Raised / Background Color */
	#n9_2 {
		overflow: visible;
		left: 0.729167%;
		right: 90.0521%;
		top: 44.54%;
		bottom: 50.28%;
	}
 
		/* Title */
		#n9_4 {
			font-family: Roboto;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.15px;
			color: rgb(255, 97, 173);
			opacity: 0.87;
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 0px);
			line-height: 23.4375px;
			height: 25px;
			left: 30px;
			right: 43px;
			top: calc(50% - 12.5px + 0.5px);
		}
 
		/* Plus */
		#n10_91 {
			left: 148px;
			width: 11.9806px;
			top: 22px;
			height: 11.9806px;
		}
 
	/* Line 3 */
	#n8_23 {
		width: 1920px;
		top: 1060px;
		height: 0px;
	}
 
	/* Text Field / Outline / Text / Unfilled / Enabled Copy 3 */
	#n10_4 {
		overflow: visible;
		left: 1.71875%;
		right: 89.0625%;
		top: 49.81%;
		bottom: 45%;
	}
 
		/* Input */
		#n10_65 {
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.15px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, -2.24px);
			line-height: 24px;
			height: 24px;
			left: 18px;
			right: 90px;
			top: 18.3999px;
		}
 
		/* Add */
		#n10_103 {
			left: 145px;
			width: 16.8px;
			top: 22px;
			height: 14px;
		}
 
	/* Text Field / Outline / Text / Unfilled / Enabled Copy 4 */
	#n10_109 {
		overflow: visible;
		left: 1.71875%;
		right: 89.0625%;
		top: 55%;
		bottom: 39.81%;
	}
 
		/* Input */
		#n10_163 {
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.15px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, -2.24px);
			line-height: 24px;
			height: 24px;
			left: 18px;
			right: 90px;
			top: 18.3999px;
		}
 
		/* Add */
		#n10_189 {
			left: 145px;
			width: 16.8px;
			top: 22px;
			height: 14px;
		}
 
	/* Text Field / Outline / Text / Unfilled / Enabled Copy 5 */
	#n10_201 {
		overflow: visible;
		left: 1.71875%;
		right: 89.0625%;
		top: 60.19%;
		bottom: 34.63%;
	}
 
		/* Input */
		#n10_255 {
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.15px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, -2.24px);
			line-height: 24px;
			height: 24px;
			left: 18px;
			right: 90px;
			top: 18.3999px;
		}
 
		/* Add */
		#n10_281 {
			left: 145px;
			width: 16.8px;
			top: 22px;
			height: 14px;
		}
 
	/* Text Field / Outline / Text / Unfilled / Enabled Copy 6 */
	#n10_373 {
		overflow: visible;
		left: 1.71875%;
		right: 89.0625%;
		top: 65.37%;
		bottom: 29.44%;
	}
 
		/* Input */
		#n10_427 {
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.15px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, -2.24px);
			line-height: 24px;
			height: 24px;
			left: 18px;
			right: 90px;
			top: 18.3999px;
		}
 
		/* Add */
		#n10_453 {
			left: 145px;
			width: 16.8px;
			top: 22px;
			height: 14px;
		}
 
 
		/* Rectangle */
		#n10_460 {
			box-shadow: rgb(237, 237, 237) 0px 0px 0px 1px inset;
			left: 11.8229%;
			right: 43.5938%;
			top: 8.24%;
			bottom: 85.74%;
		}
 
 
			/* Serch */
			#n10_463 {
				left: 253px;
				width: 30px;
				top: 107px;
				height: 30px;
			}
 
			/* Search for songs, al */
			#n10_462 {
				font-family: "Source Sans Pro";
				font-size: 20px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(255, 97, 173);
				vertical-align: middle;
				justify-content: flex-start;
				transform: translate(0px, 2.32px);
				line-height: 18px;
				height: 18px;
				left: 17.3958%;
				right: 49.2188%;
				top: calc(50% - 9px + -418px);
			}
 
			/* mic-24px 1 */
			#n18_0 {
				width: 24px;
				height: 24px;
				overflow: hidden;
				left: 779px;
				top: 113px;
			}
 
				/* Vector */
				#n18_2 {
					left: 20.8333%;
					right: 20.8333%;
					top: 8.33%;
					bottom: 12.5%;
				}
 
 
		/* Bangla */
		#n12_35 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 16.5793%;
			right: 82.7053%;
			top: calc(50% - 12.4718px + -239.821px);
		}
 
		/* Favourite */
		#n12_36 {
			left: 416.441px;
			width: 20px;
			top: 289.267px;
			height: 20px;
		}
 
		/* Plus */
		#n12_37 {
			left: 580.634px;
			width: 19px;
			top: 292.415px;
			height: 19px;
		}
 
		/* Total listenar */
		#n12_167 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 54.6354%;
			right: 39.3229%;
			top: calc(50% - 12.5px + -242.5px);
		}
 
		/* Bangla */
		#n12_43 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 53.7301%;
			top: calc(50% - 12.4718px + -239.821px);
		}
 
		/* Time */
		#n12_45 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + -239.82px);
		}
 
 
		/* Rectangle 2 */
		#n12_57 {
			background: rgb(108, 9, 56);
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
			left: 283px;
			width: 1095px;
			top: 329.8px;
			height: 60.8px;
		}
 
		/* Voice_recorder */
		#n12_58 {
			left: 314.398px;
			width: 27.4731px;
			top: 353.185px;
			height: 15.5897px;
		}
 
		/* Favourite */
		#n12_59 {
			left: 416.441px;
			width: 20px;
			top: 350.067px;
			height: 20px;
		}
 
		/* Plus */
		#n12_60 {
			left: 580.634px;
			width: 19px;
			top: 353.215px;
			height: 19px;
		}
 
		/* Bangla */
		#n12_66 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 55.7742%;
			top: calc(50% - 12.4718px + -179.021px);
		}
 
		/* Total listenar */
		#n12_67 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24px;
			left: 54.6354%;
			right: 35.4688%;
			top: calc(50% - 12px + -179px);
		}
 
		/* Time */
		#n12_68 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + -179.021px);
		}
 
 
		/* Rectangle 2 */
		#n12_128 {
			background: rgb(0, 0, 0);
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
			left: 283px;
			width: 1095px;
			top: 513px;
			height: 60.8px;
		}
 
		/* Bangla */
		#n12_130 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 16.6815%;
			right: 82.603%;
			top: calc(50% - 12.4718px + 4.17948px);
		}
 
		/* Favourite */
		#n12_131 {
			left: 416.441px;
			width: 20px;
			top: 533.267px;
			height: 20px;
		}
 
		/* Plus */
		#n12_132 {
			left: 580.634px;
			width: 19px;
			top: 536.415px;
			height: 19px;
		}
 
		/* Bangla */
		#n12_138 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 49.0286%;
			top: calc(50% - 12.4718px + 4.1795px);
		}
 
		/* Total listenar */
		#n12_139 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 54.6354%;
			right: 36.7188%;
			top: calc(50% - 12.5px + 4.29999px);
		}
 
		/* Time */
		#n12_140 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + 4.17948px);
		}
 
 
		/* Rectangle 2 */
		#n50_21 {
			background: rgb(0, 0, 0);
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
			left: 283px;
			width: 1095px;
			top: 452px;
			height: 60.8px;
		}
 
		/* Bangla */
		#n50_22 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 16.6815%;
			right: 82.603%;
			top: calc(50% - 12.4718px + -56.8205px);
		}
 
		/* Favourite */
		#n50_23 {
			left: 416.441px;
			width: 20px;
			top: 472.267px;
			height: 20px;
		}
 
		/* Plus */
		#n50_24 {
			left: 580.634px;
			width: 19px;
			top: 475.415px;
			height: 19px;
		}
 
		/* Bangla */
		#n50_30 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 49.0286%;
			top: calc(50% - 12.4718px + -56.8205px);
		}
 
		/* Total listenar */
		#n50_31 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 54.6354%;
			right: 36.7188%;
			top: calc(50% - 12.5px + -56.7px);
		}
 
		/* Time */
		#n50_32 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + -56.8205px);
		}
 
 
		/* Rectangle 2 */
		#n50_34 {
			background: rgb(0, 0, 0);
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
			left: 283px;
			width: 1095px;
			top: 391px;
			height: 60.8px;
		}
 
		/* Bangla */
		#n50_35 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 16.6815%;
			right: 82.603%;
			top: calc(50% - 12.4718px + -117.821px);
		}
 
		/* Favourite */
		#n50_36 {
			left: 416.441px;
			width: 20px;
			top: 411.267px;
			height: 20px;
		}
 
		/* Plus */
		#n50_37 {
			left: 580.634px;
			width: 19px;
			top: 414.415px;
			height: 19px;
		}
 
		/* Bangla */
		#n50_43 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 49.0286%;
			top: calc(50% - 12.4718px + -117.821px);
		}
 
		/* Total listenar */
		#n50_44 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 54.6354%;
			right: 36.7188%;
			top: calc(50% - 12.5px + -117.7px);
		}
 
		/* Time */
		#n50_45 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + -117.821px);
		}
 
 
		/* Rectangle 2 */
		#n50_48 {
			background: rgb(0, 0, 0);
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
			left: 283px;
			width: 1095px;
			top: 699px;
			height: 60.8px;
		}
 
		/* Bangla */
		#n50_49 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 16.6815%;
			right: 82.603%;
			top: calc(50% - 12.4718px + 190.179px);
		}
 
		/* Favourite */
		#n50_50 {
			left: 416.441px;
			width: 20px;
			top: 719.267px;
			height: 20px;
		}
 
		/* Plus */
		#n50_51 {
			left: 580.634px;
			width: 19px;
			top: 722.415px;
			height: 19px;
		}
 
		/* Bangla */
		#n50_57 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 49.0286%;
			top: calc(50% - 12.4718px + 190.179px);
		}
 
		/* Total listenar */
		#n50_58 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 54.6354%;
			right: 36.7188%;
			top: calc(50% - 12.5px + 190.3px);
		}
 
		/* Time */
		#n50_59 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + 190.179px);
		}
 
 
		/* Rectangle 2 */
		#n50_61 {
			background: rgb(0, 0, 0);
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
			left: 283px;
			width: 1095px;
			top: 638px;
			height: 60.8px;
		}
 
		/* Bangla */
		#n50_62 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 16.6815%;
			right: 82.603%;
			top: calc(50% - 12.4718px + 129.179px);
		}
 
		/* Favourite */
		#n50_63 {
			left: 416.441px;
			width: 20px;
			top: 658.267px;
			height: 20px;
		}
 
		/* Plus */
		#n50_64 {
			left: 580.634px;
			width: 19px;
			top: 661.415px;
			height: 19px;
		}
 
		/* Bangla */
		#n50_70 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 49.0286%;
			top: calc(50% - 12.4718px + 129.179px);
		}
 
		/* Total listenar */
		#n50_71 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 54.6354%;
			right: 36.7188%;
			top: calc(50% - 12.5px + 129.3px);
		}
 
		/* Time */
		#n50_72 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + 129.179px);
		}
 
 
		/* Rectangle 2 */
		#n50_74 {
			background: rgb(0, 0, 0);
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
			left: 283px;
			width: 1095px;
			top: 577px;
			height: 60.8px;
		}
 
		/* Bangla */
		#n50_75 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 16.6815%;
			right: 82.603%;
			top: calc(50% - 12.4718px + 68.1795px);
		}
 
		/* Favourite */
		#n50_76 {
			left: 416.441px;
			width: 20px;
			top: 597.267px;
			height: 20px;
		}
 
		/* Plus */
		#n50_77 {
			left: 580.634px;
			width: 19px;
			top: 600.415px;
			height: 19px;
		}
 
		/* Bangla */
		#n50_83 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 49.0286%;
			top: calc(50% - 12.4718px + 68.1795px);
		}
 
		/* Total listenar */
		#n50_84 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 54.6354%;
			right: 36.7188%;
			top: calc(50% - 12.5px + 68.3px);
		}
 
		/* Time */
		#n50_85 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + 68.1795px);
		}
 
 
		/* Rectangle 2 */
		#n50_87 {
			background: rgb(0, 0, 0);
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
			left: 283px;
			width: 1095px;
			top: 882px;
			height: 60.8px;
		}
 
		/* Bangla */
		#n50_88 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 16.6667%;
			right: 81.875%;
			top: calc(50% - 12.5px + 373.5px);
		}
 
		/* Favourite */
		#n50_89 {
			left: 416.441px;
			width: 20px;
			top: 902.267px;
			height: 20px;
		}
 
		/* Plus */
		#n50_90 {
			left: 580.634px;
			width: 19px;
			top: 905.415px;
			height: 19px;
		}
 
		/* Bangla */
		#n50_96 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 49.0286%;
			top: calc(50% - 12.4718px + 373.179px);
		}
 
		/* Total listenar */
		#n50_97 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 54.6354%;
			right: 36.7188%;
			top: calc(50% - 12.5px + 373.3px);
		}
 
		/* Time */
		#n50_98 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + 373.179px);
		}
 
 
		/* Rectangle 2 */
		#n50_100 {
			background: rgb(0, 0, 0);
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
			left: 283px;
			width: 1095px;
			top: 821px;
			height: 60.8px;
		}
 
		/* Bangla */
		#n50_101 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 16.6667%;
			right: 81.875%;
			top: calc(50% - 12.5px + 312.5px);
		}
 
		/* Favourite */
		#n50_102 {
			left: 416.441px;
			width: 20px;
			top: 841.267px;
			height: 20px;
		}
 
		/* Plus */
		#n50_103 {
			left: 580.634px;
			width: 19px;
			top: 844.415px;
			height: 19px;
		}
 
		/* Bangla */
		#n50_109 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 49.0286%;
			top: calc(50% - 12.4718px + 312.179px);
		}
 
		/* Total listenar */
		#n50_110 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 54.6354%;
			right: 36.7188%;
			top: calc(50% - 12.5px + 312.3px);
		}
 
		/* Time */
		#n50_111 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + 312.179px);
		}
 
 
		/* Rectangle 2 */
		#n50_113 {
			background: rgb(0, 0, 0);
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
			left: 283px;
			width: 1095px;
			top: 760px;
			height: 60.8px;
		}
 
		/* Bangla */
		#n50_114 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 16.6815%;
			right: 82.603%;
			top: calc(50% - 12.4718px + 251.179px);
		}
 
		/* Favourite */
		#n50_115 {
			left: 416.441px;
			width: 20px;
			top: 780.267px;
			height: 20px;
		}
 
		/* Plus */
		#n50_116 {
			left: 580.634px;
			width: 19px;
			top: 783.415px;
			height: 19px;
		}
 
		/* Bangla */
		#n50_122 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 24.9436px;
			left: 39.8309%;
			right: 49.0286%;
			top: calc(50% - 12.4718px + 251.179px);
		}
 
		/* Total listenar */
		#n50_123 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 25px;
			left: 54.6354%;
			right: 36.7188%;
			top: calc(50% - 12.5px + 251.3px);
		}
 
		/* Time */
		#n50_124 {
			font-family: "Source Sans Pro";
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			color: rgb(255, 97, 173);
			vertical-align: middle;
			justify-content: flex-start;
			transform: translate(0px, 3.17333px);
			line-height: 16px;
			height: 28.0615px;
			left: 66.1478%;
			right: 30.3772%;
			top: calc(50% - 14.0308px + 251.179px);
		}
 
	/* Playlist */
	#n12_151 {
		font-family: "Source Sans Pro";
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0px;
		color: rgb(255, 97, 173);
		vertical-align: middle;
		justify-content: flex-start;
		transform: translate(0px, 3.17333px);
		line-height: 16px;
		height: 16px;
		left: 16.5104%;
		right: 82.9167%;
		top: calc(50% - 8px + -291px);
	}
 
	/* Playlist */
	#n12_152 {
		font-family: "Source Sans Pro";
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0px;
		color: rgb(255, 97, 173);
		vertical-align: middle;
		justify-content: flex-start;
		transform: translate(0px, 3.17333px);
		line-height: 16px;
		height: 16px;
		left: 39.8438%;
		right: 56.25%;
		top: calc(50% - 8px + -291px);
	}
 
	/* Playlist */
	#n12_164 {
		font-family: "Source Sans Pro";
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0px;
		color: rgb(255, 97, 173);
		vertical-align: middle;
		justify-content: flex-start;
		transform: translate(0px, 3.17333px);
		line-height: 16px;
		height: 16px;
		left: 20.7292%;
		right: 76.3021%;
		top: calc(50% - 8px + -294px);
	}
 
	/* Playlist */
	#n12_165 {
		font-family: "Source Sans Pro";
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0px;
		color: rgb(255, 97, 173);
		vertical-align: middle;
		justify-content: flex-start;
		transform: translate(0px, 3.17333px);
		line-height: 16px;
		height: 16px;
		left: 26.6146%;
		right: 64.7917%;
		top: calc(50% - 8px + -294px);
	}
 
	/* Playlist */
	#n12_153 {
		font-family: "Source Sans Pro";
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0px;
		color: rgb(255, 97, 173);
		vertical-align: middle;
		justify-content: flex-start;
		transform: translate(0px, 3.17333px);
		line-height: 16px;
		height: 16px;
		left: 54.5833%;
		right: 42.4479%;
		top: calc(50% - 8px + -291px);
	}
 
	/* Playlist */
	#n12_155 {
		font-family: "Source Sans Pro";
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0px;
		color: rgb(255, 97, 173);
		vertical-align: middle;
		justify-content: flex-start;
		transform: translate(0px, 3.17333px);
		line-height: 16px;
		height: 16px;
		left: 65.6771%;
		right: 31.6146%;
		top: calc(50% - 8px + -291px);
	}
 
	/* Rectangle */
	#n14_0 {
		background: rgb(55, 55, 55);
		border-radius: 241px 0px 0px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
		left: 74.7917%;
		top: 5.93%;
		bottom: 7.96%;
	}
 
	/* Hey, j'repensais à... Yeah Fais la cour aux femmes Je fais la cour aux femmes Hey, hey, yeah On l'a fait dans le sofa Je l'ai fait dans l'œsophage Hey, hey Pauvre de moi, j'me souvenais pas Qu'on avait le pouvoir de danser comme ça Quand on se laisse aller, laisse-toi aller Laisse nos énergies faire, */
	#n14_6 {
		font-family: "Source Sans Pro";
		font-size: 30px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(255, 97, 173);
		vertical-align: middle;
		text-align: center;
		justify-content: center;
		transform: translate(0px, -2.28px);
		line-height: 40.5px;
		left: 79.6354%;
		right: 2.65625%;
		top: 20%;
		bottom: 35.83%;
	}
 
	/* Hot tracks */
	#n14_1 {
		font-family: "Source Sans Pro";
		font-size: 45px;
		font-weight: 700;
		letter-spacing: 0px;
		color: rgb(255, 97, 173);
		vertical-align: middle;
		justify-content: flex-start;
		transform: translate(0px, 7.99333px);
		line-height: 34px;
		left: 84.7917%;
		right: 6.5625%;
		top: 10.65%;
		bottom: 85.56%;
	}
 
	/* Hot tracks */
	#n14_2 {
		font-family: "Source Sans Pro";
		font-size: 27px;
		font-weight: 700;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		justify-content: flex-start;
		transform: translate(0px, -1.00667px);
		line-height: 34px;
		left: 85.3646%;
		right: 5.98958%;
		top: 14.26%;
		bottom: 81.94%;
	}
 
	/* Button */
	#n14_9 {
		width: 42px;
		height: 33px;
		left: 1878px;
	}
 
		/* Rectangle 2 */
		#n14_10 {
			background: rgb(255, 255, 255);
			border-radius: 6px;
			box-shadow: rgb(22, 77, 114) 0px 0px 0px 1px inset;
		}
 
		/* X */
		#n14_11 {
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			letter-spacing: -0.225px;
			color: rgb(22, 77, 114);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			align-items: center;
			line-height: 17.5781px;
			left: 46.1539%;
			right: 45.3845%;
			top: 27.5%;
			bottom: 27.5%;
		}
 
	/* Button */
	#n14_14 {
		width: 42px;
		height: 33px;
		left: 1836px;
	}
 
		/* Rectangle 2 */
		#nI14_14-14_10 {
			background: rgb(255, 255, 255);
			border-radius: 6px;
			box-shadow: rgb(22, 77, 114) 0px 0px 0px 1px inset;
		}
 
	/* Button */
	#n14_17 {
		width: 42px;
		height: 33px;
		left: 1794px;
	}
 
		/* Rectangle 2 */
		#nI14_17-14_10 {
			background: rgb(255, 255, 255);
			border-radius: 6px;
			box-shadow: rgb(22, 77, 114) 0px 0px 0px 1px inset;
		}
 
		/* - */
		#nI14_17-14_11 {
			font-family: Montserrat;
			font-size: 30px;
			font-weight: 500;
			letter-spacing: -0.45px;
			color: rgb(22, 77, 114);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			align-items: center;
			line-height: 35.1563px;
			left: 46.1539%;
			right: 45.3845%;
			top: 27.5%;
			bottom: 27.5%;
		}
 
	/* Rectangle 3 */
	#n14_20 {
		background: rgb(0, 0, 0);
		box-shadow: rgb(22, 77, 114) 0px 0px 0px 1px inset;
		left: 1850px;
		width: 19px;
		top: 8px;
		height: 14px;
	}
 
	/* Rectangle 4 */
	#n14_21 {
		background: rgb(255, 255, 255);
		box-shadow: rgb(22, 77, 114) 0px 0px 0px 1px inset;
		left: 1846px;
		width: 19px;
		top: 11px;
		height: 14px;
	}
 
	/* settings_24px */
	#n50_2 {
		width: 24px;
		height: 24px;
		background: rgb(0, 0, 0);
		left: 1850px;
		top: 1036px;
	}
 
		/* icon/action/settings_24px */
		#n50_3 {
			left: 9.47011%;
			right: 9.47053%;
			top: 8.33%;
			bottom: 8.33%;
		}
 
 
 
			/* Rectangle */
			#n10_493 {
				background: rgb(0, 0, 0);
				box-shadow: rgba(152, 199, 255, 0.56) 0px -2px 24px 0px;
				top: 92.78%;
			}
 
			/* 02:54 */
			#n10_494 {
				font-family: "Source Sans Pro";
				font-size: 15px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(255, 255, 255);
				opacity: 0.5;
				vertical-align: middle;
				justify-content: flex-start;
				transform: translate(0px, 1.95333px);
				line-height: 13px;
				height: 16.3548px;
				left: 35.2083%;
				right: 62.5456%;
				top: calc(50% - 8.17742px + 501.629px);
			}
 
			/* 04:00 */
			#n10_495 {
				font-family: "Source Sans Pro";
				font-size: 15px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(255, 255, 255);
				opacity: 0.5;
				vertical-align: middle;
				justify-content: flex-end;
				transform: translate(0px, 1.95333px);
				line-height: 13px;
				height: 16.3548px;
				left: 71.3411%;
				right: 26.4128%;
				top: calc(50% - 8.17742px + 501.629px);
			}
 
			/* Rectangle */
			#n10_496 {
				background: rgb(255, 255, 255);
				box-shadow: rgb(150, 150, 150) 0px 0px 0px 0px inset;
				left: 38.5286%;
				right: 29.6354%;
				top: 96.16%;
				bottom: 3.38%;
			}
 
			/* Rectangle */
			#n10_497 {
				background: rgb(255, 97, 173);
				box-shadow: rgb(150, 150, 150) 0px 0px 0px 0px inset;
				left: 38.5286%;
				right: 39.8893%;
				top: 96.16%;
				bottom: 3.38%;
			}
 
			/* Ellipse */
			#n10_498 {
				width: 58px;
				height: 57px;
				left: 470px;
				top: 1012px;
			}
 
			/* Ellipse */
			#n10_499 {
				width: 50px;
				height: 50px;
				left: 474px;
				top: 1016px;
			}
 
			/* Pause */
			#n10_500 {
				left: 490px;
				width: 18.75px;
				top: 1033px;
				height: 16.7742px;
			}
 
			/* Backward */
			#n10_503 {
				left: 594px;
				width: 20px;
				top: 1035px;
				height: 12.5806px;
			}
 
			/* Backward */
			#n10_504 {
				left: 379.875px;
				width: 20px;
				top: 1034.71px;
				height: 12.5806px;
			}
 
			/* Loading */
			#n10_505 {
				left: 291.864px;
				width: 16.64px;
				top: 1032.19px;
				height: 16.6425px;
			}
 
			/* Louder */
			#n10_513 {
				left: 1583.27px;
				width: 18.7297px;
				top: 1032.19px;
				height: 17.5998px;
			}
 
 
				/* Rectangle */
				#n10_527 {
					background: rgb(108, 9, 57);
					box-shadow: rgb(150, 150, 150) 0px 0px 0px 0px inset;
					right: 88.1771%;
					top: 92.78%;
				}
 
				/* Rectangle Copy 17 */
				#n10_528 {
					border-radius: 3px;
					box-shadow: rgb(150, 150, 150) 0px 0px 0px 0px inset;
					left: 1.6991%;
					right: 95.4691%;
					top: 94.18%;
					bottom: 1.16%;
				}
 
				/* Sepelo */
				#n10_529 {
					font-family: "Source Sans Pro";
					font-size: 20px;
					font-weight: 600;
					letter-spacing: 0px;
					color: rgb(255, 255, 255);
					vertical-align: middle;
					justify-content: flex-start;
					transform: translate(0px, 3.17333px);
					line-height: 16px;
					height: 20.129px;
					left: 5.09731%;
					right: 91.8585%;
					top: calc(50% - 10.0645px + 487.161px);
				}
 
				/* Bithika Abhedananda */
				#n10_530 {
					font-family: "Source Sans Pro";
					font-size: 13px;
					font-weight: 600;
					letter-spacing: 0px;
					color: rgb(246, 157, 167);
					vertical-align: middle;
					justify-content: flex-start;
					transform: translate(0px, 1.38px);
					line-height: 12px;
					height: 30.1935px;
					left: 5.09731%;
					right: 89.3806%;
					top: calc(50% - 15.0968px + 511.065px);
				}
 
 
					/* Massage-path */
					#n10_532 {
						left: 193.018px;
						width: 17.6707px;
						top: 1016.97px;
						height: 2.51613px;
					}
 
					/* Massage-path */
					#n10_533 {
						background: rgb(255, 255, 255);
						left: 193.018px;
						width: 17.6707px;
						top: 1012.06px;
						height: 2.51613px;
					}
 
					/* Massage-path */
					#n10_534 {
						background: rgb(255, 255, 255);
						left: 193.018px;
						width: 12.2335px;
						top: 1022px;
						height: 2.51613px;
					}
 
		/* settings_24px */
		#n50_14 {
			width: 24px;
			height: 24px;
			left: 1852px;
			top: 1029px;
		}
 
			/* icon/action/settings_24px */
			#n50_15 {
				background: rgb(255, 255, 255);
				left: 9.47011%;
				right: 9.47053%;
				top: 8.33%;
				bottom: 8.33%;
			}
 
		/* Slider / Continuous / Enabled */
		#n10_553 {
			overflow: visible;
			left: 85.1563%;
			right: 7.44792%;
			top: 94.17%;
			bottom: 1.39%;
		}
 
			/* Track */
			#n10_554 {
				overflow: visible;
				top: 41.67%;
				bottom: 41.67%;
			}
 
				/* Surface */
				#n10_555 {
					background: rgb(235, 87, 87);
					top: calc(50% - 1px + 0px);
					height: 2px;
				}
 
			/* Highlight */
			#n10_556 {
				height: 8px;
				overflow: visible;
				left: 0.704225%;
				right: -0.704225%;
				top: calc(50% - 4px + 0px);
			}
 
				/* Surface */
				#n10_557 {
					background: rgb(255, 97, 173);
					right: 50%;
					top: calc(50% - 1px + 0px);
					height: 2px;
				}
 
			/* Knob */
			#n10_558 {
				width: 12px;
				height: 12px;
				overflow: visible;
				left: calc(50% - 6px + 0px);
				top: calc(50% - 6px + 0px);
			}
 
				/* Surface */
				#n10_559 {
					background: rgb(108, 9, 57);
					left: calc(50% - 6px + 0px);
					width: 12px;
					top: calc(50% - 6px + 0px);
					height: 12px;
				}
 
		/* image 1 */
		#n12_1 {
			background-image: url("https://s3-alpha-sig.figma.com/img/c1bc/7926/18e52a292cdd88cfeb5571bfe6784fb1?Expires=1596412800&Signature=IIdDbjaRUxIApqHdAx0MFy9ZPJQF13Ykd5oCod4-UF5PiiTZObhso~XBJgPJdv5c~DFD~NgEmR3UGVGuXMoYbh6ApP2ecRw71WLz3MR2qSnYhUh~e9sQBlk2NuPDGAqrK4-xmssuIfTkX9Xjgbk9PjrbhIe6vFY4Sx5XLMMvhu0woYdnbkgvIOAXg7pwwgroKkIOeijkGVroJmCz6-pLnp5BJZpDMuwBASWxC1CRKjFVSz739pIYEFTo1tJanI~6IdIxIn~9SBgQjtwwk0hTZq25Ntwzop2uDxWvug3SiHTFjkEAQGKHPLg7j3wFd7wW~HjV3J~WZw0-f7pxruxThQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			left: 16px;
			width: 58px;
			top: 1012px;
			height: 60px;
		}
 
	/* KD Musique 1 */
	#n85_0 {
		background-image: url("https://s3-alpha-sig.figma.com/img/6f8f/cdf3/5b1f4e5cc80de0f7eeb6a008707b5490?Expires=1596412800&Signature=NdGbzGzFRioO68v2oqY4do7bRKCuMx5jnHi2-CYFYtH6CwxEd9ZwQBLkN1btFreeJlVDc6~K-8ADBoescPfdQ04Hei9AkmXqV2t3yCA-EU8tUAVyr5HBEV4~00WGT7n0vdp6RM29v-ffRsvZ1KydKE-Qbc-SlvJ~dJsD2qpfzf-ro0ZoCjfHFHly2RzJ0D-zjlC-fT~q-hQat0gFP4X~1SWV7SNYyU-wcAz-rFlgbU1n~lB4s3wKQfWwi7N~0v-ZqTupNmoespTFaygATwiqsjvUgF-RLii1RciyXtTSqy9KJHG5xTBEwmaMcxgV5KQjaGlvONAOy6xp2lR7FqMnTQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 46px;
		width: 136px;
		top: 91px;
		height: 93px;
	}