body{
    background-color: #E9EDDF;

}
nav{
    margin: 1px;
}

.bienvenue{
    font-family: 'Acme', sans-serif;
}

h5{
    color: #252618;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Acme', sans-serif
} 

#footer{
    text-align: right;
    bottom: 0;
}

#footer p {
    font-family: 'Acme', sans-serif;
    color:#252618;
}

.jumbotron{
    background-color:#FCEEB9;
    margin-top: 2px;
    margin-bottom: 10px;
}
.cardtext {
    color: #252618;
}
.card{
    border: double #FCEEB9 3px;
    margin: 15px 15px;
}
.card-contact{ 
    border: double #FCEEB9 5px;
    background-color: #FEFFFB;
    margin: 3px;
}
#UyInfo{
    background-color: aqua;
    width: 500px;
}
#UyenInfo{
    background-color: pink;
}
#KhangInfo{
    background-color: green;
}
#KhoaInfo{
    background-color: yellow;
}
.media {
    padding: 0;
    margin-top: 50px;
}

.Info {
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    padding: 0;
    list-style: none;
    margin: 0;
}
.card-title {
    font-family: 'Acme', sans-serif;
}
.card-body {
    font-family: 'Acme', sans-serif;
}

.lead {
    font-size: 40px;
    font-family: 'Acme', sans-serif;
}
.jumbotron > .card-title {
    font-size: 60px;
    font-family: 'Acme', sans-serif;
}

.card > .card-header {
    font-family: 'Acme', sans-serif;
} 